extends layout

block Title
  title RapiD Aint Pacer In Data

block append Statics 
  link(href="#{static_url}/css/mainpage.css", rel="stylesheet", type="text/css")
  link(href="#{static_url}/css/jterm-0.1.2.min.css", rel="stylesheet", type="text/css")
  script(src="#{static_url}/js/jterm-0.1.2.jquery.min.js")
  script(src="#{static_url}/js/mainpage/canvas.js")
  script(src="#{static_url}/js/mainpage/nav.js")

block Content
  div.container#all-container
    div.center
      h1 RapiD's 
        div.inline-container#nav-item-container
          div.inline-container#item-container
            a(id="item" href="javascript:;") BLOG

        a(id="enter" href="javascript:;" target="_blank") &nbsp;&raquo;

    div.container.center#painter-container
      div.container.align-center#canvas-container
        <canvas id="canvas" height="400" width="800">
        </canvas>

      div.container.align-center#canvas-term-container
        div#Term
