extends blog-base-layout

block append Statics
  link(href="#{static_url}/css/blog/editor.css" rel="stylesheet" type="text/css")
  link(href="#{static_url}/css/markdown.css" rel="stylesheet" type="text/css")
  script(src="#{static_url}/js/markdown.js")
  script(src="#{static_url}/js/blog/editor.js")

block Title
  title BLOG: Post article

block MainContent
  div.container#editor-container
    if article
      form(method="POST" action="/blog/admin/post-article/#{article._id}")
        div.container.form-group#extra-info-container
          input.form-control(name="title" placeholder="Title" value="#{article.title}")

        div.form-group
          input.form-control(name="tags" placeholder="Tags" value="#{article.tags}")
      
        div.container#content-container
          div.container.form-group#markdown-container
            textarea.form-control(name="content" placeholder="Content" tabindex="-1")= article.content

          div.container.markdown#preview-container

        div.container.form-group#submit-container
          button(type="submit").primary#post-button POST
          button.default#preview-button PREVIEW
    else
      form(method="POST" action="/blog/admin/post-article")
        div.container.form-group#extra-info-container
          input.form-control(name="title" placeholder="Title")

        div.form-group
          input.form-control(name="tags" placeholder="Tags")
      
        div.container#content-container
          div.container.form-group#markdown-container
            textarea.form-control(name="content" placeholder="Content" tabindex="-1")

          div.container.markdown#preview-container

        div.container.form-group#submit-container
          button(type="submit").primary#post-button POST
          button.default#preview-button PREVIEW
