extends blog-base-layout

block Title
  title BLOG: Administrator

block append Statics
  link(href="#{static_url}/css/blog/admin.css" rel="stylesheet" type="text/css")
  script(src="#{static_url}/js/blog/admin.js")

block MainContent
  div.inline-container#admin-main-container
    table#list-table
      thead
        th.table-title title
        th.table-tag tag
        th.table-publish publish
        th.table-modify modify
        th.table-operate operate

      tbody
        each art in articles
          tr
            td.table-title: a(href="/blog/view/#{art._id}")= art.title
            td.table-tag= art.tags
            td.table-publish= art.pub_date
            td.table-modify= art.modify_date
            td.table-operate
              ul.horizontal
                li: a(href="/blog/admin/new-article/#{art._id}"): i.fa.fa-pencil
                li: a(href="/blog/admin/remove-article/#{art._id}"): i.fa.fa-trash-o


  div.inline-container#admin-side-container
    hr

    div.container.sidebar-section#operate-list-container
      h6 Welcome Administrator
      ul
        li: a(href="/blog/admin/new-article" target="_blank"): i.fa.fa-pencil &nbsp;new article
        li: a(href="javascript:;"): i.fa.fa-calendar-o &nbsp;mainpage man
        li: a(href="javascript:;"): i.fa.fa-desktop &nbsp;statistics

    hr

    div.contaier.sidebar-section#tag-list-container
      h6 Tags

      ul
        each tag in tags
          li 
            a(href="/blog/admin/remove-tag/#{tag._id}"): i.fa.fa-trash-o
            a(href="javascript:;")= tag.tag_name
    hr
