extends blog-layout

block append Statics
  script(src="#{static_url}/js/blog/index.js")
  link(href="#{static_url}/css/markdown.css" rel="stylesheet" type="text/css")

block MainContent 
  each art in articles
    div.container.article-container
      h2.article-title: a(href="/blog/view/#{art._id}")= art.title
      p.article-date= art.pub_date
      div.article-tags
        i.fa.fa-tags &nbsp;
        = art.tags
      div.markdown.article-content!= art.content

      div.article-footer
        a(href="/blog/view/#{art._id}") Read More &nbsp;
          i.fa.fa-toggle-right
