extends blog-layout

block append Statics
  script(src="#{static_url}/js/blog/index.js")
  link(href="#{static_url}/css/markdown.css" rel="stylesheet" type="text/css")

block MainContent 
  each art in articles
    div.container.article-container
      h2.article-title: a(href="/blog/view/#{art._id}")= art.title
      p.article-date
        i.fa.fa-clock-o &nbsp;
        = art.pub_date
      div.article-tags
        i.fa.fa-tags &nbsp;
      
        each tag, idx in art.tags
          a(href="#{tag.href}")= tag.tag_name
          if idx !== art.tags.length - 1
            |, &nbsp;
      
      div.article-comment-count
        i.fa.fa-comments &nbsp;
        a(href="/blog/view/#{art._id}#disqus_thread" data-disqus-identifier="#{art._id}")

      div.markdown.article-content!= art.content

      div.article-footer
        a(href="/blog/view/#{art._id}") Read More &nbsp;
          i.fa.fa-toggle-right

  div.container#pagination-container
    if pagination.prev
      div.inline-container#prev-page-container
        a(href="#{pagination.prev}") PREV PAGES

    if pagination.next
      div.inline-container#next-page-container
        a(href="#{pagination.next}") NEXT PAGES

    div.
      <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'rapidisajoker'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
      </script>
