extends blog-layout

block Title
  title= "BLOG: " + article.title

block append Statics
  link(href="#{static_url}/css/markdown.css" rel="stylesheet" type="text/css")

block MainContent
  div.container.article-container
    h2.article-title: a(href="javascript:;")= article.title
    p.article-date= article.pub_date
    div.article-tags
      i.fa.fa-tags &nbsp;

      each tag, idx in article.tags
        a(href="#{tag.href}")= tag.tag_name

        if idx !== article.tags.length - 1
          |,&nbsp;

    div.markdown.article-content!= article.content
